.header {
    min-height: 953px;
    position: relative;

    @include respond(1199) {
        min-height: 700px;
    }

    @include respond(575) {
        min-height: 600px;
    }

    @include respond(460) {
        min-height: 481px;
    }

    &-bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 47.5%;
        background-position: center bottom;
        border-bottom-left-radius: 480px;
        border-bottom-right-radius: 480px;
        z-index: -1;

        @include respond(1199) {
            width: 44.5%;
        }

        @include respond(991) {
            width: 47.5%;
        }

        @include respond (767) {
            width: 100%;
            position: relative;
            min-height: 700px;
            transform: translateY(-83px);
        }

        @include respond(575) {
            min-height: 600px;
            transform: translateY(-70px);
        }

        @include respond(460) {
            min-height: 481px;
        }
    }

    &-content {
        .container {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }

        &-inner {
            flex: 0 0 50%;
            padding-right: 15px;

            @include respond (767) {
                flex: 0 0 100%;
                margin-top: -9rem;
            }

            @include respond(575) {
                margin-top: -6.8rem;
            }

            h1 {
                line-height: 9rem;
                margin-bottom: 1.6rem;

                @include respond (767) {
                    text-align: center;
                }


            }

            .cta {
                margin-top: 5rem;

                @include respond(575) {
                    margin-top: 16px;
                }
            }
        }

        .advantages {
            padding-right: 3.4rem;

            @include respond(991) {
                padding-right: 0;
            }

            &-cta {
                text-align: center;
            }

            li {
                position: relative;
                font-size: var(--font-size-24);
                margin-bottom: 1rem;
                line-height: 4.8rem;
                padding-right: 15px;

                @include respond(575) {
                    padding-right: 20px;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-image: url(../icons/svg/check.svg);
                    width: 2.5rem;
                    height: 2.5rem;
                    transform: translate(100%, 40%);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    @include respond(575) {
                        transform: translate(50%, 40%);
                    }

                }
            }
        }
    }
}