.images-slider {
    margin-bottom: 10%;

    .item {
        &-img-wrap {
            max-height: 290px;
            background-color: $color-primary-lighter;
            overflow: hidden;

            // @include respond (991) {
            //     height: 212px;
            // }

            // @include respond (575) {
            //     height: 166px;
            // }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }

    .owl-carousel {
        padding: 0 45px;

        @include respond(767) {
            padding: 0;
        }
    }

    .owl-theme .owl-nav [class*=owl-] {
        background-color: $color-primary-light !important;

    }

    .owl-theme .owl-nav [class*=owl-]:hover {
        background-color: $color-primary !important;
    }


    .owl-nav {
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include respond(767) {
            display: none;
        }

        button {
            display: inline-flex !important;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 50% !important;
            width: 30px;
            height: 30px;
            text-align: center;

            &.owl-next {
                i {
                    margin-right: -5px;
                }
            }

            i {
                color: $color-white;
                line-height: 30px;
            }
        }

    }
}